{% extends 'base.html' %}

{% block start %}

<div class="container-fluid">
    <Header class="container-fluid" style="background-color: aquamarine; text-align: center; color: blueviolet;">
        <h1> Groceries At Market</h1>
        <a href="/" class="btn btn-success" type="submit">Home</a>

    </Header>
    <div class="container mt-5 card p-3 shadow-lg">
    <form class="col-6 mx-auto" method="post">
        {% csrf_token %}
        <div class=" mb-3">
            <h1>Update Category</h1>
            <hr>
            <select name="updateCategory">
                <option value="" disabled selected>Select an option</option>
                {% for ele in data %}
                <option value="{{ele}}">{{ele}}</option>
                {% endfor %}

            </select>
            <hr>
          <label for="newCategory" class="form-label">New Category Name</label>
          <input name="newCategory" required type="text" class="form-control" id="newCategory">
        </div>
        <button type="submit" class="btn btn-primary">Update Category</button>
      </form>
    </div>
</div>


{% endblock %}