{% extends 'base.html' %}

{% block start %}

<Header class="container-fluid" style="background-color: aquamarine; text-align: center; color: blueviolet;">
    <h1> Groceries At Market</h1>
    <a href="/" class="btn btn-success" type="submit">Home</a>

</Header>


<div class="container mt-5 card p-3 shadow-lg" style="text-align: center; background-color: aquamarine;">
<h2>Select Item you want to Update</h2>
<hr>
<form class="col-6 mx-auto" action="{% url 'updateItem' %}" method="POST">
    {% csrf_token %}
    <div class="mb-1">
    <label for="category"> Category: </label>
    <select name="category" id="category">
        <option value="" disabled selected>Select Category</option>
        {% for category in categories %}
        <option value="{{category}}">{{category}}</option>
        {% endfor %}
    </select>
</div>
    <br>
    <div class="mb-1">
    <label for="subcategory">SubCategory:</label>
    <select name="subcategory" id="subcategory" disabled>
        <option value="" disabled selected> Select Sub Category</option>
    </select>
</div>
    <br>

        
        <br>
        <div class="mb-1">
        <label for="item">Item:</label>
        <select name="item" id="item" disabled>
            <option value="" disabled selected> Select an Item</option>
        </select>
        </div>
        <br>
        <label for="newItem" class="form-label">New Item Name</label>
    <input name="newItem" type="text" class="form-control" id="newItem">
    <br>
    <label for="newPrice" class="form-label">New Item Price</label>
    <input name="newPrice" type="text" class="form-control" id="newPrice">
    <div class="mb-1">
<br>
    <div class="mb-1">
    <button class="btn btn-primary" style="text-align: center;" type="submit">Update Item</button>
    </div>
</div>
</form>

</div>

<script>


    var subcategories = {{ subcategories|safe}};
    console.log(subcategories)
    document.getElementById('category').addEventListener("change", function(){

        var selectedCategory = this.value;
        var subcategoryDropdown = document.getElementById("subcategory");

        subcategoryDropdown.innerHTML = '<option value="" disabled selected>Select Subcategory</option>';
        if (subcategories.hasOwnProperty(selectedCategory)){

            subcategories[selectedCategory].forEach(function(subcategory){

                var option = new Option(subcategory, subcategory);
                subcategoryDropdown.add(option);
                
            });
            subcategoryDropdown.disabled = false;
        }else{
            subcategoryDropdown.disabled = true;
        }
    });

    var items = {{ items|safe}};
    console.log(items)
    document.getElementById('subcategory').addEventListener("change", function(){

        var selectedSubCatagory = this.value;
        var itemDropdown = document.getElementById("item");

        itemDropdown.innerHTML = '<option value="" disabled selected>Select Subcategory</option>';
        if (items.hasOwnProperty(selectedSubCatagory)){

            items[selectedSubCatagory].forEach(function(item){

                var option = new Option(item, item);
                itemDropdown.add(option);
                
            });
            itemDropdown.disabled = false;
        }else{
            itemDropdown.disabled = true;
        }
    });

</script>


{% endblock %}